header {
    border: 1px solid rgba(226, 226, 226, 0);
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    background: var(--crl-glass);

    z-index: 2;
    backdrop-filter: blur(10px);
}

.header_container {
    display: flex;
    margin: 0 10px;
    padding: 5px;
    align-items: center;
    margin-inline: auto;
    max-width: 750px;
    user-select: none;
}

.theme_switch {
    margin-left: auto;
}

.tag {
    font-family: "M PLUS Rounded 1c", sans-serif;
    width: 25%;
}
li svg {
    margin-right: 5px;
}
nav {
    flex: 3;
    display: flex;
    gap: 35px;
    width: 100%;
}

.tag {
    font-weight: bold;
    font-size: 19px;
    flex: 1;
    letter-spacing: -1px;
}

nav li a {
    transition: all 0.5s ease-in-out;
}

nav li a:hover {
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: teal;
    text-decoration-thickness: 5px;
}

.switch {
    background-color: teal;
    border-radius: 5px;
    padding: 10px 12.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.hum_menu {
    background-color: var(--crl-glass);
    border-radius: 5px;
    padding: 10px 12.5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.switch svg {
    scale: 1.25;
    fill: rgb(255, 243, 243);
    transition: all 0.3s ease-in-out;
}

.switch:hover {
    background-color: rgb(2, 85, 85);
}

@media (max-width: 768px) {
    .hide_mobile {
        display: none;
    }

    .header_container {
        gap: 20px;
        width: 100%;
    }
    nav {
        flex: 0 !important;
    }
}
@media (min-width: 769px) {
    .hide_desktop {
        display: none;
    }
}
.hide_desktop .hide {
    display: none;
}
.hide_desktop svg {
    scale: 1.5;
}
.hum_menu {
    transition: all 0.35s ease-in-out;
    display: flex;
    align-items: center;
}

.hum_menu_container {
    position: absolute;
    /* display: block; */
    border: 1px solid rgb(215, 215, 215);
    padding: 5px 20px;
    top: 50px;
    left: 50%;
    right: 0;
    border-radius: 5px;
    background-color: var(--crl-bg);
    backdrop-filter: blur(10px);
    transition: all 0.35s ease-in-out;
}

.hum_menu_container li {
    background-color: var(--crl-glass);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    margin: 5px 0;
}

.hum_menu_container li svg {
    scale: 1;
}
