@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*:where(
        :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
    ) {
    all: unset;
    display: revert;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a,
button {
    cursor: revert;
}

a,
ol,
ul,
menu,
li {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
}

img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    -webkit-user-select: auto;
    user-select: auto;
}

textarea {
    white-space: revert;
}

meter {
    -webkit-appearance: revert;
    appearance: revert;
}

:where(pre) {
    all: revert;
}

::placeholder {
    color: unset;
}

::marker {
    content: initial;
}

:where([hidden]) {
    display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
    user-select: auto;
    line-break: after-white-space;
}

:where([draggable="true"]) {
    -webkit-user-drag: element;
}

:where(dialog:modal) {
    all: revert;
}

.light_theme {
    --crl-bg: #f0e7db;
    --crl-txt: #202020;
    --crl-glass: rgba(255, 255, 255, 0.534);
}

.dark_theme {
    --crl-txt: white;
    --crl-bg: #202020;
    --crl-glass: rgba(255, 255, 255, 0.25);
}

:root {
    --ff-family: "Playfair Display", serif;
}

body {
    font-family: var(--ff-family);
    color: var(--crl-txt);
    padding: 0 20px;
    transition: background-color 0.3s ease-in-out;
    font-size: 0.95em !important;
}
